html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

* {
 	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
   	user-select: none;
}

svg {
		width: 400px;
		height: 400px;
		max-width: 100%;
		max-height: 100%;
}
