# http://eslint.org/docs/configuring/

env:
  browser: true
  node: true

ecmaFeatures:
  jsx: true
  objectLiteralShorthandMethods: true
  objectLiteralShorthandProperties: true
  blockBindings: true
  templateStrings: true
  arrowFunctions: true
  destructuring: true

rules:
  quotes: [2, "single"]
  eol-last: 0
  strict: [2, "global"]
  no-underscore-dangle: 0
  no-unused-vars: [2, {"vars": "all", "args": "none"}]
