html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

* {
 	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
   	user-select: none;
}

svg {
		width: 80vw;
		height: 80vw;
		margin: 10px auto;
		max-width: 600px;
		max-height: 600px;
		display: block;
}

form {
		width: 80vw;
		margin: 0 auto;
		max-width: 600px;
		display: flex;
		justify-content: space-between;
}

button, label {
	font-size: 1em;
	margin: 5px;
}

@media (orientation: landscape) {
	body {
		display: flex;
		align-items: center;
	}
	form {
		width: 30vw;
		display: inline-block;
	}
	form > button {
		display: block
	}
	svg {
		width: 90vh;
		height: 90vh;
		display: inline-block;
	}
}

